*, *:before, *:after {
  vertical-align: baseline; 
  box-sizing: inherit; 
}

body {
  margin: 0; 
  padding: 0; 
}

ul {
  margin: 0; 
  padding: 0; 
}


nav {
  background-color:rgba(102,102,102,255);
}

nav ul {
  padding: 0;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  display: inline-block;
  margin-right: 10px;
  font-family: 'Gothic A1', sans-serif;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px; 
}

nav li a:hover {
  background-color: #111;
}


.flex-container {
  display: flex;
  width: 35rem;
  margin-left: 14.4rem; 
} 

#output-container {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  flex-basis: 33%;
  flex-grow: 1;
  flex-shrink: 1;
}

h1 {
  padding: 0px; 
  margin: 0; 
  text-align: center;
  font-family: 'Gothic A1', sans-serif;
}

h3 {
  font-family: 'Gothic A1', sans-serif;
}

.description {
  margin: 0.3 rem 0; 
  display: block; 
  margin-block-start: 1 em; 
  margin-block-end: 1 em; 
  margin-inline-start: 0px; 
  margin-inline-end: 0px; 
}

body {
  background-color: rgba(147,147,147,255);
}

a {
  font-size: 20px;
}

.titles {
  background-color: #fff;
}

.toolbar{
  height: 3rem; 
  background-color: rgba(45,45,45,255);
  width: 100%; 
  top: 0; 
  left: 0;
  margin: 0; 
  padding: 0; 
  line-height: 3rem; 
}

.omedo {
  height: 5rem; 
  background-color: #fff;
  width: 100%; 
  top: 3rem; 
  left: 0;
  margin: 0; 
  padding: 0; 
  line-height: 3rem; 
  font-family: 'Gothic A1', sans-serif;
  text-align: center;
}

.main {
margin: 10rem; 
width: 30rem; 
}